* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Martel', serif;
  /* background-color: black; */
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
}

#wall {
  position: relative;
  height: 60%;
  background-image: url("./images/wall-03.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.7);
}
#wall::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(209deg, rgba(128, 115, 82, 0) 0%, rgba(122, 59, 47, 0.6));
}

#wall::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(209deg, rgba(128, 115, 82, 0) 0%, rgba(122, 59, 47, 0.6));
}

#floor {
  position: relative;
  height: 40%;
  background-image: url("./images/floor.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

#floor::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* border: 5px solid crimson; */
  background: linear-gradient(238deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7));
}

#floor::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* border: 5px solid crimson; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(63, 33, 20, 0.7));
}


#clock {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  background: linear-gradient(0deg, rgb(119, 61, 61) 10%, rgb(199, 78, 57));
  border-radius: 50%;
  /* box-shadow: -6px 16px 5px rgba(0, 0, 0, 0.4); */
}

#clock::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, rgb(179, 170, 159)0%, rgb(209, 200, 191)50%);
  border-radius: 50%;
  box-shadow: inset -2px 5px 3px rgba(0, 0, 0, 0.3);
}

#clock::after{
  content: "";
  position: absolute;
  width: 162px;
  height: 162px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: -2px 3px 5px rgba(255, 255, 255, 0.2);
}
#piont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background: rgb(32, 11, 11);
  border-radius: 50%;
}

#hour{
  position: absolute;
  top: calc(50% - 3px);
  left: 50%;
  transform: rotate(90deg);
  transform-origin: left center;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background: rgb(27, 16, 16);
}

#min{
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  transform: rotate(90deg);
  transform-origin: left;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background: rgba(27, 16, 16, 0.781);
}

#sec{
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  transform: translate(-1px, -50%) rotate(90deg);
  transform-origin: left;
  width: 72px;
  height: 2px;
  border-radius: 1px;
  background: rgba(27, 16, 16, 0.493);
}

#circle{
position: absolute;
/* background: red; */
/* border: 1px solid red; */
width: 100%;
height: 100%;
color: rgba(27, 16, 16, 0.699);
font-size: 1.5rem;
font-weight: bold;
text-shadow: -2px 2px 1px #333;
}

.num12{
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
}

.num3{
  position: absolute;
  top: calc(50% - 20px);
  right: 15px;
}

.num6{
  position: absolute;
  bottom: 7px;
  left: calc(50% - 8px);
}

.num9{
  position: absolute;
  top: calc(50% - 20px);
  left: 15px;
}






#winLight{
  position: absolute;
  top: 50%;
  /* left: 50%; */
  width: 250px;
  height: 200px;
  /* background: linear-gradient(rgba(231, 198, 11, 0.1), rgba(231, 198, 11, 0.3)); */
  transform: skew(-15deg, 0deg);
}


.box1{
display: inline-block;
/* position: relative; */
margin: 2px;
width: 95px;
height: 95px;
background: linear-gradient(rgba(231, 198, 11, 0), rgba(255, 187, 0, 0.08)40%, rgba(231, 198, 11, 0.1));
}

.box2{
display: inline-block;
  /* position: relative; */
  margin: 2px;
  width: 95px;
  height: 95px;
  background: rgba(231, 198, 11, 0.1);
  }





  #roomlight{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(218, 47, 17, 0.3); */
  }

  #roomlight2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(202, 44, 16, 0.7);
  }
